<template>
  <div>
    <loader v-if="loading"></loader>
    <div v-else-if="!loaded">
      <h1 style="color: red;">{{error}}</h1>
    </div>
    <div >
      <h1>DATA</h1>
      <bar-chart
        style="width: 700px;"
        :data="chartData"
        :options="options">
      </bar-chart>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import Loader from '@/components/Loader'
import BarChart from '@/components/BarChart'

export default {
  name: 'Dashboard',
  components: {
    Loader,
    BarChart
  },
  data () {
    return {
      msg: 'asssa',
      chartData: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "My First dataset",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
      },
      options: {}
    }
  },
  computed: {
    ...mapGetters({
      loading: 'loading',
      loaded: 'loaded',
      data: 'getData',
      error: 'error'
    })
  },
  methods: {}
}
</script>