<template>
  <div @chh="console.log('chhhhhhh')">
    <h1>{{ msg }}</h1>
    <v-layout align-start>
      <v-flex md3>
        <v-select
          v-model="year"
          :items="years"
          label="Choose Year"
        ></v-select>
      </v-flex>
      <v-flex md1></v-flex>
      <v-flex md3>
        <v-select
          v-model="hour"
          :items="hours"
          label="Choose Hour"
          @change="filterData"
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout align-start v-if="year">
      <v-flex md3>
        <v-select
          v-model="month"
          :items="months"
          label="Choose Month"
          @change="filterData"
        ></v-select>  
      </v-flex>
    </v-layout>
    
    <v-layout align-star v-if="month">
      <v-flex md3 >
        <v-select
          v-model="day"
          :items="days"
          label="Choose Day"
          @change="filterData"
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex>
      <gmap-map :center="center" :zoom="7" style="width: 100%; height: 500px">
        <gmap-cluster>
          <gmap-marker v-for="(m, index) in filteredData"
            :position="m.position"
            :clickable="true" :draggable="true"
            @click="center=m.position"
            :key="index"
            ></gmap-marker>
        </gmap-cluster>
      </gmap-map>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import moment from 'moment'

export default {
  computed: {
    ...mapGetters({
      mapData: 'getData'
    }),

    formatedData() {
      return this.mapData.map(e => {
        return {
          position: {
            lat: e.latitude,
            lng: e.longitude
          },
          datetime: moment(e.date_time)
        }
      })
    }
  },
  created () {
    this.filteredData = this.formatedData
  },
  data () {
    return {
      msg: 'maps',
      filteredData: [],
      years: [
        '2014'
      ],
      year: '2014',
      months: [
        '',
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ],
      month: null,
      days: [],
      day: null,
      hours: [
        {
          text: '',
          value: null
        },
        {
          text: '00:00 - 00:59',
          value: 0
        },
        {
          text: '01:00 - 01:59',
          value: 1
        },
        {
          text: '02:00 - 02:59',
          value: 2
        },
        {
          text: '03:00 - 03:59',
          value: 3
        },
        {
          text: '04:00 - 04:59',
          value: 4
        },
        {
          text: '05:00 - 05:59',
          value: 5
        },
        {
          text: '06:00 - 06:59',
          value: 6
        },
        {
          text: '07:00 - 07:59',
          value: 7
        },
        {
          text: '08:00 - 08:59',
          value: 8
        },
        {
          text: '09:00 - 09:59',
          value: 9
        },
        {
          text: '10:00 - 10:59',
          value: 10
        },
        {
          text: '11:00 - 11:59',
          value: 11
        },
        {
          text: '12:00 - 12:59',
          value: 12
        },
        {
          text: '13:00 - 13:59',
          value: 13
        },
        {
          text: '14:00 - 14:59',
          value: 14
        },
        {
          text: '15:00 - 15:59',
          value: 15
        },
        {
          text: '16:00 - 16:59',
          value: 16
        },
        {
          text: '17:00 - 17:59',
          value: 17
        },
        {
          text: '18:00 - 18:59',
          value: 18
        },
        {
          text: '19:00 - 19:59',
          value: 19
        },
        {
          text: '20:00 - 20:59',
          value: 20
        },
        {
          text: '21:00 - 21:59',
          value: 21
        },
        {
          text: '22:00 - 22:59',
          value: 22
        },
        {
          text: '23:00 - 23:59',
          value: 23
        }
      ],
      hour: null,
      center: {
        lat: 40.7366,
        lng: -73.9906
      },
      markers: [
        {
          position: {
              lat: 40.7260,
              lng: -73.9918
          },
          options: {
            opacity: 0.5
          }
        }, {
          position: {
            lat: 40.7209,
            lng: -74.0507
          }
        }, {
          position: {
            lat: 40.7387,
            lng: -73.9856
          }
        }
      ],
      reload: true
    }
  },
  methods: {
    filterData() {
      this.$nextTick(() => {
        if(
          this.month && 
          (this.day || this.day === 0) && 
          (this.hour || this.hour === 0)
        ) {
          let filteredData = []
          // console.log("MONTH, DAY AND HOUR")
          this.formatedData.filter(el => {
            let date = moment(el.datetime, 'MM/DD/YYYY kk:mm:ss')
            let hour = date.hour()
            let monthNum = date.month()
            let dayNum = date.date()
            this.calculateDays(this.months[monthNum + 1])
            if(
              this.months[monthNum + 1] === this.month && 
              this.days[dayNum] === this.day &&
              this.hour == hour
            ) {
              filteredData.push(el)
            }
          })
          this.filteredData = filteredData
        } else  if(
          this.month && 
          (this.day || this.day === 0) && 
          (this.hour === null || this.hour === '')
        ) {
          let filteredData = []
          // console.log("MONTH and DAY")
          this.formatedData.filter(el => {
            let date = moment(el.datetime, 'MM/DD/YYYY kk:mm:ss')
            let monthNum = date.month()
            let dayNum = date.date()
            this.calculateDays(this.months[monthNum + 1])
            if(
              this.months[monthNum + 1] === this.month && 
              this.days[dayNum] === this.day
            ) {
              filteredData.push(el)
            }
          })
          this.filteredData = filteredData
        } else if(
          this.month && 
          (this.day === null || this.day === '') && 
          (this.hour || this.hour === 0)) {
          // console.log("MONTH AND HOUR")
          let filteredData = []
          this.formatedData.filter(el => {
            let date = moment(el.datetime, 'MM/DD/YYYY kk:mm:ss')
            let hour = date.hour()
            let monthNum = date.month()
            this.calculateDays(this.months[monthNum + 1])
            if(
              this.months[monthNum + 1] === this.month && 
              this.hour == hour
            ) {
              filteredData.push(el)
            }
          })
          this.filteredData = filteredData
        } else if(
            this.month && 
            (this.day === null || this.day === '') && 
            (this.hour === null || this.hour === '')
          ) {
          let filteredData = []
          // console.log("MONTH")
          this.formatedData.filter(el => {
            let date = moment(el.datetime, 'MM/DD/YYYY kk:mm:ss')
            let monthNum = date.month()
            this.calculateDays(this.months[monthNum + 1])
            if(this.months[monthNum + 1] === this.month) {
              filteredData.push(el)
            }
          })
          this.filteredData = filteredData
        } else if(
          !this.month && 
          (this.day === null || this.day === '') && 
          (this.hour || this.hour === 0)
          ) {
          let filteredData = []
          // console.log("HOUR")
          this.formatedData.filter(el => {
            let date = moment(el.datetime, 'MM/DD/YYYY kk:mm:ss')
            let hour = date.hour()
            if(this.hour == hour) {
              filteredData.push(el)
            }
          })
          this.filteredData = filteredData
        } else {
          this.filteredData = this.formatedData
        }
      })
    },
    calculateDays (month) {
      this.days = []
      if(month) {
        let m = moment().year('2014').month(month)
        this.days.push('')
        for(let i = 1; i <= m.daysInMonth(); i++) {
          this.days.push(i)
        }
      }
    }
  }
}
</script>